<!-- for week 3
<nav>
    <ul>
        <li>Home</li>
        <li>Custom</li>
        <li>Sedan</li>
        <li>SUV</li>
        <li>Truck</li>
    </ul>
</nav>
-->


<!--week 3-->
<nav>
    <%- nav %>
</nav>