<h3 class="us_title"> Welcome to CSE Motors!</h3>


        <div class="upper_section">
            <img src="../images/vehicles/delorean.jpg" alt="delorean image">
            <div class="us_box">
                <p><span class="us_box_comment">DMC Delorean</span><br>3 Cup holders<br> Superman doors<br> Fuzzy dice
                <br><img src="../images/site/own_today.png" alt="own today image"></p>  
            </div>
        </div>
<div class="flex_div">
    <div class="mid_section">
        <h3 class="ms_title">DMC Delorean Reviews</h3>
        <div class="ms_reviews_div">
            <ul class="ms_reviews">
                <li>"So fast it's almost like traveling in time." (4/5)</li>
                <li>"Coolest ride on the road." (4/5)</li>
                <li>"I'm feeling McFly!" (5/5)</li>
                <li>"The most futuristic ride of our day." (4.5/5)</li>
                <li>"80's livin and I love it!" (5/5)</li>
            </ul>
        </div>
    </div>
    <div class="lower_section">
        <h3>Delorean Upgrades</h3>
        <div class="ls_1">
            <div class="capacitor">
                <div class="capacitor_bk">
                    <img src="../images/upgrades/flux-cap.png" alt="flux-cap image">
                </div>
                <div class="upgrades_link">
                    <a href="capcaitor.com">Flux Capacitor</a>
                </div>
            </div>
            <div class="decals">
                <div class="decals_bk">
                    <img src="../images/upgrades/flame.jpg" alt="flame image">
                </div>
                <div class="upgrades_link">
                    <a href="flame-decals.com">Flame Decals</a>
                </div>
            </div>
        </div>
        <div class="ls_2">
            <div class="stickers">
                <div class="stickers_bk">
                    <img src="../images/upgrades/bumper_sticker.jpg" alt="bumper sticker image">
                </div>
                <div class="upgrades_link">
                    <a href="bumper-stickers.com">Bumper Stickers</a>
                </div>
            </div>
            <div class="caps">
                <div class="caps_bk">
                    <img src="../images/upgrades/hub-cap.jpg" alt="hub-cap image">
                </div>
                <div class="upgrades_link">
                    <a href="hub-caps.com">Hub Caps</a>
                </div>
            </div>
        </div>
    </div>
</div>