/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
  
}
/*
body {
  background-image: url('../images/site/small_check.jpg');
}
*/

h2 {
  font-size: 15px;
  font-weight: bolder;
}

title, a:link, a:visited {
  color: black;
  text-decoration: none;
}

.siteName {
  font-size:19px;
  font-weight: bold;
}
 
#tools {
  float: right;
  font-size: 10px;
  color: grey;
}

#wrapper {
  width: 225px;
  margin: 0 auto;
}

nav {
  background-color: rgb(118, 48, 48);
  width: 100%;
}

nav li {
  display: inline-block;
  background-color:black;
  padding: 10px;
  color: white;
  text-decoration: none;
  font-size: 10px;
  width: 20%;
  text-align: center;
}

nav ul {
  background-color: blue;
  display: flex;
  padding-inline-start: 0;
}
.comments ul {
  margin-left: -25px;
}
.comments li {
  font-size: 11px;
  margin-top: 10px;
}

.upper_section {
  background-image: url('../images/vehicles/delorean-tn.jpg');
  background-size: 90%;
  width: 100%;
  height: 110px;
  background-repeat: no-repeat;
}

.box > p > img {
  width: 70%;
}

.box {
  width:40%;
  background-color: rgba(255 255 255 / 0.5);
  color:rgb(0, 152, 172);
}

.dmc_advertise {
  font-weight: bold;
}

.upgrades {
  width: 100%;
  text-align: center;
}

.capacitor_decals {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  height: 70px;
}

.capacitor {
  width:110px;
  display: block;
}

.capacitor_img_div {
  background-color: rgb(29, 167, 191);
  border-style: solid;
  border-color: black;
  border-width: thin;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.capacitor_img_div > img {
  width: 50px;
  width: 50px;
}

.decals {
  width:110px;
  display: block;
  
}

.decals_img_div {
  background-color: rgb(29, 167, 191);
  border-style: solid;
  border-color: black;
  border-width: thin;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.decals_img_div > img {
  width: 50px;
  width: 50px;
}

.sticker_caps {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  height: 70px;
  margin-top: 30px;
}

.sticker {
  width:110px;
  display: block;
}

.sticker_img_div {
  background-color: rgb(29, 167, 191);
  border-style: solid;
  border-color: black;
  border-width: thin;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sticker_img_div > img {
  width: 50px;
  width: 50px;
}

.caps {
  width:110px;
  display: block;
  
}

.caps_img_div {
  background-color: rgb(29, 167, 191);
  border-style: solid;
  border-color: black;
  border-width: thin;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.caps_img_div > img {
  width: 50px;
  width: 50px;
}

footer {
  margin-top: 40px;
  
}