/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;

}

/* 
* FONT
*/

* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*
* WRAPPER
*/

#wrapper {
  max-width: 100%;
}

/*
* SITE NAME, MY ACCOUNT, NAV
*/

.siteName {
  font-size:1.5em;
  font-weight: bold;
}
 
.siteName > a:link, a:visited {
  color: black;
  text-decoration: none;
}

#tools, #tools > a:link, #tools > a:visited {
  float: right;
  font-size: 10px;
  color: black;
  text-decoration: none;
}


.nav {
  background-color: black;
  width: 100%;
  text-align: center;
  
}

#nav a, #nav a:link, #nav a:visited, #nav a:active {
  color: white;
  text-decoration: none;
  list-style-type: none;
}

nav > ul {
  display: flex;
  padding-inline-start: 0;
}


nav > ul > li {
  font-size: 1em;
  width: 20%;
  list-style-type: none;
  padding: 8px;
}


/*
* UPPER SECTION (us.)
*/

.upper_section {
  position: relative;
  max-width: 100vw;
  height: auto;
}

.upper_section > img {
  display: block;
  margin: 0 auto;
  max-width: 70vw;
  height: 100%;
}


.us_box {
  font-size: 3vw;
  max-width: 100vw;
  color:rgb(0, 152, 172);
  background-color: rgba(255 255 255 / 0.9);
  position: absolute;
  left: 30px;
  top: 0;
}

.us_box span {
  font-weight: bolder;
}

.us_box img {
  max-width: 15vw;
}

/*
* MID SECTION (ms.)
*/

.mid_section {
  width: 100%;
  padding-inline-start: 0;
 }
 
 .ms_reviews_div {
   font-size: 1em;
 }
 
 .ms_reviews_div ul {
  padding-inline-start: 14px;
   
 }
 
 .ms_reviews_div li {
   margin-top: 10px;
 }

/*
LOWER SECTION
*/

.ls_1 {
  display:flex;
  justify-content: space-between;
}

.upgrades_link {
  text-align: center;
}

.capacitor {
  width: 48%;
  height: 8vh;
}

.capacitor_bk {
  display: flex;
  justify-content:space-around;
  align-content: space-around;
  width: 100%;
  height: 100%;
  background-color: blanchedalmond;
  padding: 5px;
}

.decals {
  width: 48%;
  height: 8vh;
}

.decals_bk {
  display: flex;
  justify-content:space-around;
  align-content: space-around;
  width: 100%;
  height: 100%;
  background-color: red;
  padding: 5px;
}

.ls_2 {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.stickers {

  width: 48%;
  height: 8vh;
}

.stickers_bk {
  display: flex;
  justify-content:space-around;
  align-content: space-around;
  width: 100%;
  height: 100%;
  background-color: grey;
  padding: 5px;
}

.caps {
  width: 48%;
  height: 8vh;
}

.caps_bk {
  display: flex;
  justify-content:space-around;
  align-content: space-around;
  width: 100%;
  height: 100%;
  background-color: black;
  padding: 5px;
}

footer {
  margin-top: 30px;
}

/*
* inventory classification view
*/

#inv-display  {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
  columns: 3;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  padding-inline-start: 0;
}

#inv-display > li > a > img {
  border-radius: 15px;
  max-width: 100%;
}

#inv-display hr {
  height: 5px;
  background-color: black;
  border: none;
}

.namePrice {
  font-size: 1em;
}

.namePrice > span {
  font-size: 1.3em;
}

#inv-display a, #inv-display a:link, #inv-display a:visited, #inv-display a:active {
  text-decoration: none;
}

#inv-display > li {
  list-style-type: none;
  border: 1px solid lightgrey;
  margin: 5px;
  text-align: center;
  padding-bottom: 10px;
  border-radius: 15px;
  max-width: 200vw;
  height: 250px;
}


/*
* DETAILS VIEW /inv/detail/#
*/

#inv-details-display {
  padding: 10px;
  margin: 20px;
}

.inv-details-img {
  display: flex;
  justify-content: center;
}

.inv-details-img > img {
  max-width: 70vw;
}

.inv-details > * {
  font-size: 4vw;
}


/*
* LOGIN and REGISTER FORMS
*/

.login-title, .register-title {
  text-align: center;
}

.register-notice {
  max-width: 300px;
  margin: auto;
  color: red;
  text-decoration: none;
  list-style-type: none;
  text-align: left;
  padding-inline-start: 0;
  
}

.form-container-login, .form-container-register {
  color: white;
  background-color: black;
  border-radius: 10px;
  font-size: 1.2em;
  max-width: 300px;
  padding: 20px;
  margin: auto;
  border-style: solid;
  border-color: black;
  border-width: 2px;
}

.login-div > input, .register-div > input {
  font-size: 1em;
  width: 100%;
  height: 25px;
  border-radius: 7px;
}

.login-button, .register-button {
  text-align: center;
}



.login-button > input, .register-button > input {
  font-size: .8em;
  width: 100px;
  border-radius: 20px;
  padding: 10px;
  cursor: pointer;
  background-color: white;
}

.login-button > a:link, .login-button > a:visited, .login-button > a:active {
  color: white;
}

#login-register {
  color: white;
}





/*
* larger screens
*/

@media screen and (min-width: 700px) {
  
  body {
    background-image: url('../images/site/checkerboard.jpg');
    background-size: 60%;
    background-position: center;
  }
  
  #wrapper {
    background-color: white;
    width: 80vw;
    
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 30px;
    border-style: solid;
    border-color: grey;
    border-radius: 10px;
    border-width: 5px;
    padding: 20px;
  }

  .siteName {
    font-size: 3em;
  }

  .us_title {
    font-size:2em;
  }
  
  #tools, #tools > a:link, #tools > a:visited {
    font-size: 1em;
  }

  nav {
    font-size: 1.5em;
  }
  
  .us_box {
    font-size: 2em;
    left: 5vw;
  }
  .us_box img {
    max-width: 150px;
  }

  .flex_div {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
  }

  .mid_section, .lower_section {
    width: 35vw;
    font-size: 1.5em;
  }

  .ls_2 {
    margin-top: 30px;
  }

 footer {
  position: relative;
  left: 0;
  bottom: 0;
 }

 #inv-display  {
  
  grid-template-columns: repeat(3, 1fr);
}

}

@media screen and (min-width: 950px) {


  #inv-details-display {
    display: flex;
    flex-direction: row;
  }
  
  .inv-details-img > img{
    max-width: 40vw;
    
  }

  .inv-details-img {
    max-width: 50vw;
    margin: 15px;
    
  }
  
  .inv-details {
    max-width: 50vw;
  }
  
  .inv-details > * {
    font-size: 1.3vw;
  }

}
