<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<div class="add-classification-error">
<% if (errors && errors.length > 0) { %>
    <ul class="add-classification-error-ul">
      <% errors.forEach(function(error) { %>
        <li><%= error.msg %></li>
      <% }); %>
    </ul>
  <% } %>
</div>

<div class="add-classification-notice">
<%- messages() %>
</div>

<div class="add-classification-container">
    <p>FIELD IS REQUIRED</p>
    <p>NAME MUST BE ALPHABETIC CHARACTERS ONLY</p>
    <form class="add-classification-form" action="/inv/add-classification" method="post">

        <div class="add-classification-div">
            <label for="classification_name">Enter Classification:</label><br>
            <input type="text" id="classification_name" name="classification_name" required><br><br>
        </div>
        <div class="add-classification-button">
            <input type="submit" value="Add classification"><br><br>
            
        </div>

        </form>
</div>